
<main class="container">
<div class='row'>
<div class='fusion-fullwidth fullwidth-box fusion-builder-row-3 fusion-flex-container has-pattern-background has-mask-background margin_left_right nonhundred-percent-fullwidth non-hundred-percent-height-scrolling'>
  <div class="row text-center justify-content-center">
    <div class="col">
      <h6  style='margin:0;font-size:1em;'>
       <div>
        <div class='text-start fs-4'style='color:#709FDB;'>company</div>
        <div class='heading icon-left'>
       <h2 class="text-lg-start fs-4 lh-base text-break">We enable and empower small and medium enterprises to grow.</h2>
      </div>
     </div>
   </div>
  </div>
  </div>
  </div>

 </h6>
 <div class="row justify-content-evenly ">
 <h3 class="container text-start" style="margin:0;font-size:2em;">About Us</h3>
 <div class="col-6
">
 <p class='txt'>Small and Medium Enterprises (SMEs) are the largest contributors to job creation, having a direct impact on local communities, as well as being a gateway for economic innovation. As part of the Kingdom’s ambitious plans that form Vision 2030, the Saudi government has launched multiple programs to encourage SME development, with a target set for 2030 to have SME contribution to the Kingdom’s GDP reach 35% (equating to SAR 2.1 trillion).</p>
 </div>
 <div class="col-6
 text-end">
 <p class='txt'>
 Since its establishment in 2016 Alraedah has become the principal financing institution for SMEs in the Kingdom of Saudi Arabia. Our success is built on our simple and transparent process, our in-depth understanding of the local market, and our flexible financing solutions.
 </p>
 </div>
<div class="col-6 text-start">
<p class='txt'>
As an underserved market, SMEs face multiple challenges when scaling their businesses or growing their operations. This is where Alraedah plays an integral role in supporting SMEs to achieve long term and sustainable growth, by offering innovative financial products and services that anticipate and proactively address market needs while eliminating existing pain points.
</p>
</div>
<div class="col-6 text-end">
<p class='txt'>Alraedah is licensed by the Central Bank of Saudi Arabia (SAMA) and offers the most extensive coverage for Sharia’h compliant financing solutions within the Kingdom. With ambitious digital expansion plans, an expanding workforce of expert financial advisors, and an unwavering commitment to service excellence, Alraedah will remain a pioneering champion of SMEs in the Kingdom.
</p>
</div>
<div class='box'>
<h1 class='fs-4 text-light' style='text-align:justify
; font-size:40px;'>Key numbers as of 2022</h1>
<h2 class="content-box-heading fs-3 text-light" style="font-size:40px;line-height:45px;">892,063</h2>
<p class="fs-6 text-light">SMEs in KSA</p>


</div>
<div class="container text-center">
<div class="row justify-content-evenly">
  <div class="col-6">
    <h2 class="text-start" style="font-size:24px;line-height:29px;">Vision</h2>
<p class='text-start'>Establish an inclusive and centralised hub that enables, empowers and enhances small and medium enterprises to achieve, and exceed, their ambitions.</p>

  </div>
  <div class="col-6">
    <h2 class="text-start" style="font-size:24px;line-height:29px;">Mission</h2>
<p class='text-start'>Provide a holistic set of financial solutions, services and products that drive sustainable growth and positively impact SME businesses.</p>

  </div>
</div>
</div>
</div>
</main>
<style>
.container {
    margin-bottom: 29px;

}
h2,h3 {
    font-family: 'Ping Regular';
    color: #122f55;
    font-size: 400px;
    font-weight: 400px;

}
.row
 {
    margin-top: 100px;
    margin_left_right: 100px;
}
.box {
    background-position: right top;
    border-radius-top-right: 0px;
    border-radius-top-right: 0px;
    border-radius-bottom-right: 0px;
    border-radius-bottom-left: 0px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-top-medium: 80px;
    padding-bottom-medium: 80px;
    padding-top-small: 56px;
    padding-right-small: 24px;
    padding-bottom-small: 56px;
    padding-left-small: 24px;
    margin-top-medium: -50px;
    margin-top-small: -30px;
    background-color: #173d6f;
    background-image: url("assets/Group-1984076814-1");
    background-size: auto;
    background-repeat: no-repeat;

;


}
.vcontainer {
    border-radius-top-left:0px;
    border-radius-top-right:0px;
    border-radius-bottom-right:0px;
    border-radius-bottom-left:0px;
    padding-top:40px;
    padding-bottom:40px;
    padding-top-small:0px;
    padding-right-small:24px;
    padding-bottom-small:48px;
    padding-left-small:24px;
    background-color: grey;
}
.txt {
    padding-top:24px;
    padding-right:24px;
    padding-bottom:24px;
    padding-left:24px;
    overflow:hidden;
    bg-color:#ffffff;
    bg-color-hover:#ffffff;
    bg-size:cover;
    border-radius:16px 16px 16px 16px;
    width-large:50%;
    spacing-right-large:15px;
    margin-bottom-large:0px;
    spacing-left-large:15px;
    width-medium:50%;
    order-medium:0;
    spacing-right-medium:15px;
    margin-bottom-medium:48px;
    spacing-left-medium:15px;
    width-small:100%;
    order-small:0;
    spacing-right-small:15px;
    spacing-left-small:15px;
    background-color:#fff;

}
</style>